@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #1b1b1b;
    --primary-text-color: #e3e3e3;
    --create-btn-bg-color: #37393b;
    --navbar-icons-hover-color: rgb(46, 49, 51);
    --create-btn-hover-color: rgb(64, 68, 71);
    --task-feature-li-bg-color: rgba(19, 19, 20, 0);
    --all-task-list-item-bg-color: #004a77;
    --all-task-list-item-hover-bg-color: #07639d;
    --filled-form-button-color: #a8c7fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Google Sans Flex', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 8px;

}

nav .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-nav svg {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    padding: 10px;
}

#title {
    font-size: 1.3rem;
    font-weight: 300;
}

nav .right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

.right-nav img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
}

.right-nav svg:first-child {
    width: 35px;
    height: 35px;
    margin-right: 30px;
    padding: 5px;
}

.right-nav svg:nth-child(2) {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.right-nav svg:hover, .left-nav svg:hover,
.right-nav img:hover, .list-icon:hover {
    background-color: var(--navbar-icons-hover-color);
    border-radius: 50%;
    cursor: pointer;
}

.right-nav img {
    padding: 5px;
}

.left-nav img:hover,
#title:hover {
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 14px;
    position: relative;
    left: -100%;
    transition: .5s ease-in-out;
}

.show-sidebar {
    left: 0;
}

.create-btn-container button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--create-btn-bg-color);
    color: var(--primary-text-color);
}

.create-btn-container button:hover,
button svg:hover {
    background-color: var(--create-btn-hover-color);
    cursor: pointer;
}

.task-features {
    margin-top: 20px;
}

.task-features ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-features ul li {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: var(--task-feature-li-bg-color);
    border-radius: 25px;
    padding: 3px;
}

.task-features ul li:first-child {
    background-color: var(--all-task-list-item-bg-color);
}

.task-features ul li svg {
    margin-left: 15px;
    vertical-align: bottom;
}

.task-features ul li:nth-child(2):hover {
    background-color: var(--navbar-icons-hover-color);
    cursor: pointer;
}

.task-features ul li:first-child:hover,
.task-features ul li:first-child svg:hover {
    background-color: var(--all-task-list-item-hover-bg-color);
    cursor: pointer;
}

.mylist-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.list-summary {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.list-summary:hover {
    cursor: pointer;
}

.list-icon.active-list {
    transform: rotate(180deg);
}

.list-icon {
    padding: 3px;
    transition: transform 0.5 ease-in;

}

.list-names {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-names.active {
    display: none;
}

.list-entry {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-name {
    margin-left: -68px;
}

.list-names input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

.create-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    padding: 8px;
    align-content: center;
}

.create-list:hover {
    background-color: var(--navbar-icons-hover-color);
    border-radius: 30px;
    cursor: pointer;
}

.create-list span svg {
    vertical-align: bottom;
}

.tasks-container {
    display: inline;
}

.create-list-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.32);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9;
}

.form-layout {
    display: none;
    position: fixed;
    right: 40%;
    top: 36%;
    z-index: 10;
}

.form-layout form {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #282a2c;
    border-radius: 20px;
}

.form-layout form label {
    margin: 20px 20px 0px 20px;
    padding-top: 10px;
}

#listname {
    margin: 0px 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #37393b;
    border: none;
    color: var(--primary-text-color);
}

.button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 5px;
}

.button-layout button {
    padding: 10px;
    color: #a8c7fa;
    font-size: 0.78rem;
    background: none;
    border: none;
}

.button-layout button:hover {
    background-color: #37393b;
    border-radius: 25px;
    cursor: pointer;
}

.task-form-layout {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 550px;
    position: fixed;
    left: 31%;
    top: 15%;
    background-color: #1e1f20;
    padding: 30px;
    border-radius: 20px;
    z-index: 99;
}

.cancel-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cancel-wrap svg {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.cancel-wrap svg:hover {
    background-color: #444746;
    border-radius: 50%;
    cursor: pointer;
}

.input-title-wrap {
    width: 100%;
    display: flex;
}

.input-title-wrap input[type='text'] {
    color: var(--primary-text-color);
    width: 90%;
    padding: 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    border: none;
    border-bottom: 1px solid #444746;
    border-radius: 0;
    background: none;
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-left: 45px;
}

::placeholder {
    color: #c4c7c5;
}

.input-title-wrap input[type='text']:focus-visible, .time-field-wrap input:focus-visible, .repeat-options-wrap select:focus-visible, .list-select-wrap select:focus-visible, .description-wrap textarea:focus-visible, #listname:focus-visible {
    outline: none;
    border-bottom: 2px solid #a8c7fa;
    outline-offset: 0px;
}

.time-field-wrap {
    display: inline-flex;
    gap: 20px;
    width: 100%;
}

#task-date {
   width: 120px;
}

.day-all-wrap {
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.day-all-wrap .container {
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background:none;
 border: 2px solid #ccc;
 border-radius: 2px;
 padding: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark{
background-color: var(--navbar-icons-hover-color);
  
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a8c7fa;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.repeat-options-wrap {
    margin-left: 45px;
}

.description-wrap {
    width: 100%;
    display: inline-flex;
    gap: 20px;
}

.list-select-wrap {
    display: inline-flex;
    gap: 20px;
    width: 100%;
}

.save-button-wrap {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.time-field-wrap input, .description-wrap textarea,  .repeat-options-wrap select, .list-select-wrap select{
    background: none;
    border: none;
    background-color: #37393b;
    border-radius: 3px;
    appearance: none;
    color: #e3e3e3;
    padding: 13px;
    
}

.time-field-wrap input:hover, .description-wrap textarea:hover, .repeat-options-wrap select:hover,  .list-select-wrap select:hover, #listname:hover{
    background-color: #444746;
}

.description-wrap textarea {
    width: 500px;
}

.save-button-wrap button {
    width: 100px;
    background: none;
    border: none;
    background-color: #37393b;
    border-radius: 30px;
    appearance: none;
    color: #e3e3e3;
    padding: 15px;
}

.repeat-options-wrap select, .list-select-wrap select {
    width: 200px;
}

.tasks-container {
    /*background-color: #131314;*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    width: 80%;
}

.task-card {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: #131314;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-card-nav {
    display: flex;
    justify-content: space-between;
}

.add-new-task-row{
    width: 100%;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    color: #a8c7fa;
}

.task-card-body, .completed-tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-list-entry-container{
     width: 100%;
    display: inline-flex;
    gap: 20px;
}

.completed-tasks-header {
     width: 100%;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.completed-tasks {
    margin-left: 0px;
}

.completed-tasks-entry{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.completed-tasks-body .task-list-entry-info span {
    text-decoration: line-through;
}

.completed-tasks.active .completed-tasks-entry {
    max-height: 300px;
    animation: fade 0.1s ease-in-out;
}
.completed-tasks .task-icon-right svg {
    transition: transform 0.1s ease-in;
}

.completed-tasks.active .task-icon-right svg {
    transform: rotate(90deg);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}