@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #1b1b1b;
    --primary-text-color: #e3e3e3;
}

body {
    width: 100vw;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Google Sans Flex', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
     margin-right: 8px;
    
}

nav .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-nav svg {
    margin-right: 10px;
    padding: 10px;
}

#title {
    font-size: 1.3rem;
    font-weight: 300;
}

nav .right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

.right-nav img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}

.right-nav svg:first-child {
    margin-right: 30px;
    padding: 5px;
}

.right-nav svg:nth-child(2) {
    padding: 10px;
}

svg:hover, .right-nav img:hover {
   background-color: rgb(46, 49, 51);
   border-radius: 50%;
   cursor: pointer;
}

.right-nav img {
    padding: 5px;
}

.left-nav img:hover, #title:hover {
    cursor: pointer;
}
