@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #1b1b1b;
    --primary-text-color: #e3e3e3;
    --create-btn-bg-color: #37393b;
    --navbar-icons-hover-color: rgb(46, 49, 51);
    --create-btn-hover-color: rgb(64, 68, 71);
    --task-feature-li-bg-color: rgba(19,19,20,0);
    --all-task-list-item-bg-color: #004a77;
    --all-task-list-item-hover-bg-color: #07639d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Google Sans Flex', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
     margin-right: 8px;
    
}

nav .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-nav svg {
    margin-right: 10px;
    padding: 10px;
}

#title {
    font-size: 1.3rem;
    font-weight: 300;
}

nav .right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

.right-nav img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}

.right-nav svg:first-child {
    margin-right: 30px;
    padding: 5px;
}

.right-nav svg:nth-child(2) {
    padding: 10px;
}

svg:hover, .right-nav img:hover {
   background-color: var(--navbar-icons-hover-color);
   border-radius: 50%;
   cursor: pointer;
}

.right-nav img {
    padding: 5px;
}

.left-nav img:hover, #title:hover {
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 14px;
    position: relative;
    left: -100%;
    transition: .5s ease-in-out;
}

.show-sidebar {
    left: 0;
}

.create-btn-container button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--create-btn-bg-color);
    color: var(--primary-text-color);   
}

.create-btn-container button:hover, button svg:hover {
    background-color: var(--create-btn-hover-color);
    cursor: pointer;
}

.task-features {
    margin-top: 20px;
}

.task-features ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-features ul li {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: var(--task-feature-li-bg-color);
    border-radius: 25px;
    padding: 3px;
}

.task-features ul li:first-child {
    background-color: var(--all-task-list-item-bg-color);
}

.task-features ul li svg {
    margin-left: 15px;
    vertical-align: bottom;
}

.task-features ul li:nth-child(2):hover {
    background-color: var(--navbar-icons-hover-color);
    cursor: pointer;
}

.task-features ul li:first-child:hover, .task-features ul li:first-child svg:hover {
    background-color: var(--all-task-list-item-hover-bg-color);
    cursor: pointer;
}

.mylist-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.list-summary {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.list-icon.active-list {
    transform: rotate(180deg);
}

.list-icon {
    padding: 3px;
    transition: transform 0.5 ease-in;
    
}

.list-names {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-names.active {
    display: none;
}

.list-entry {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-name {
    margin-left: -68px;
}

.list-names input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

.create-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    padding: 8px;
    align-content: center;
}

.create-list:hover {
    background-color: var(--navbar-icons-hover-color);
    border-radius: 30px;
    cursor: pointer;
}

.create-list span svg {
    vertical-align: bottom;
}

.tasks-container {
    display: inline;
}

.create-list-overlay {
    position: fixed;
    background-color: #1b1b1b00;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9;
}

.form-layout {
    display: none;
    position: fixed;
    right: 40%;
    top: 36%;
    z-index: 10;
}

.form-layout form {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #282a2c;
    border-radius: 20px;
}

.form-layout form label {
   margin: 20px 20px 0px 20px;
   padding-top: 10px;
}

.form-layout form input[type='text'] {
   margin: 0px 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #37393b;
    border: none;
}

.button-layout {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 5px;
}

.button-layout a {
    padding: 10px;
    color: #a8c7fa;
    font-size: 0.78rem;
}

.button-layout a:hover {
    background-color: #37393b;
    border-radius: 25px;
    cursor: pointer;
}